.container {
	display: grid;
	gap: 70px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: 430px;
}

.showMore {
	display: block;
	width: 120px;
	outline: 0;
	border: 0;
	margin: 0 auto;
	background: transparent;
	margin-bottom: 120px;
	color: var(--gray);
}
