@import '../../responsiveMixin.scss';

.container {
	background-color: var(--white);
	font-size: 14px;
	line-height: 21px;
	height: 35px;
	outline: 0;
	border: 0;
	padding-left: 16px;

	::placeholder {
		color: #bcbbbb;
	}

	@include mobile {
		grid-column: 1 / 4;
	}
}
