.main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--top-nav-height);
}

.top {
	height: 77px;
	background-color: var(--white);
	padding-top: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 0;
	font-size: 2.4rem;
	line-height: 3.6rem;
	font-weight: bold;
}

.logo {
	width: 68px;
	height: 42px;
	position: relative;
}

.content {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
